.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    gap: 8px;
    justify-content: flex-start;
    margin-bottom: 70px;
  }
}

.feature {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  background: var(--badges);
}

.text {
  display: none;
}

@media only screen and (min-width: 768px) {
  .text {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: var(--main);
  }
}
