.container {
  padding: 0 21px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 64px;
  }
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--inputs);
}
