.list {
  /* margin-bottom: 32px; */
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 840px;
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  height: auto;
}

.cardWrapper:not(:last-child) {
  margin-bottom: 28px;
}

@media only screen and (min-width: 768px) {
  .cardWrapper {
    padding: 23px;
    flex-direction: row;
    position: relative;
  }

  .cardWrapper:not(:last-child) {
    margin-bottom: 32px;
  }
}

.noResults {
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  .noResults {
    font-size: 40px;
    width: 875px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

@media only screen and (min-width: 768px) {
  .buttonContainer {
    margin-top: 40px;
    margin-bottom: 52px;
  }
}
